.page-home {
  padding: 100px;
}

.page_header {
  padding: 0;
  margin: 0;
}

.page_header--links {
  max-width: 500px;
  margin: 80px auto;
  padding: 0;
  background: white;
  list-style-type: none;
  border-radius: 16px;
}

.page_header--links li {
  padding: 24px;
  border-bottom: 1px solid #ebebeb;
}

.page_header--links li:last-child {
  border: none;
}

.page_header--links li a {
  text-decoration: none;
}
